body{
  background-color: rgb(192, 181, 181);
}
.title {
  text-align:center;
  background: #000;
  padding:10px;
  color:#ffff;
  width: 60%;
  margin:auto;
  
}
td {
  border:  2px solid #333;
  height:  100px;
  width:  100px;
  text-align:  center;
  vertical-align:  middle;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  font-size:  70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position:   absolute;
  left: 50%;
  margin-left: -155px;
  top: 70px;
  background: #ffffff;
}


.endgame {
  display: none;
  width:  200px;
  top: 120px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em; 
}

.selectSym{
  display: none;
  width: 240px;
  top: 110px;
  background-color: rgba(26, 21, 16, 0.8);
  position: absolute;
  left: 49.5%;
  margin-left: -110px;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  font-size: 2em; 
  text-shadow:1px 1px 1px #000;
}

.selectSym button{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:  50px;
  width: 70px;
}

.selectSym  button:first-of-type {
  margin-right: 10px;
}
.selectSym  button:last-of-type {
  margin-left: 10px;
}
.gamebutton {
  width:30%;
  padding:10px;
  position:relative;
  top:360px;
  left: 47%;
  margin-left: -155px;
  background-color:#333;
  color:#fff;
  border: none;
  border-radius:5px;
  font-weight:bold;
}